name: Build Flutter APK

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du dépôt
        uses: actions/checkout@v4

      - name: Installation de Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0' # choisis ta version

      - name: Récupération des dépendances
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload du fichier APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
